@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans&display=swap');
* {
  
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 592px;
  margin: 0 auto 72px;
  
  

}

#hero img {
  margin-bottom: 72px ;
}

#hero h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px ;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 32px ;

  
}

#hero p, footer {
  
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
  
}



span, a {
  color:#FF9900 ;
}

footer a + a { 
  margin-left: 28px;
}

footer .line {
  width: 589px;
  height: 0px;
  margin: 0 auto 15px ;

  border: 1px solid #ECEFF2;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

@media(max-width: 600px) {
 #hero {
   width: 392px;
 }
 #balls {
   position: relative;
   bottom: 20%;
    right: -40%;
 }
 #hero h1 {
   font-size: 39px;
 }
 #hero p {
  line-height: 25px;
  font-size: 13px;
 }
 footer .line {
  width: 240px;
  height: 0px;
}

}

@media(max-width: 400px) {
  #hero {
    width: 322px;
  }

  
 
 }